<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-6">
    <div id="user-info">
      <ul class ="list-group">
        <li class="list-group-item list-group-item-info">Email : <%= @user.email%></li>
        <li class="list-group-item list-group-item-info">Address : <%= @user.address %></li>
        <li class="list-group-item list-group-item-info">Date Of Join : <%= @user.date_of_join %></li>
        <%= link_to "Edit", edit_supervisor_user_path(@user), class: "btn btn-success", remote: true %>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h1>List course added</h1>
    <ul class="list-group">
      <% @course_list.each do |course| %>
        <% if course.get_training_progress(course, @user).status.nil? %>
          <li class="list-group-item list-group-item-info">    
            <%= link_to course.name, course_path(course) %> </br>
            Status : <%= course.get_status course %>.
          </li>
        <% else %>
          <li class="list-group-item list-group-item-info">
            <b>
              <%= link_to course.name, course_path(course) %> </br>
              Quantity subject complete:
                <%= course.quantity_subject_done(
                  course.get_training_progress course, @user) %> </br>
              Quantity task done:
                <%= course.quantity_task_done(
                  course.get_training_progress course, @user) %> </br>
            </b>
            </br>
            Status : <%= course.get_status course %>.
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<ul class="list-group">
  <% @activities.each do |activity| %>
    <li>
      <%= activity.name %> about
      <%= time_ago_in_words(activity.created_at) %> ago.
      </br>
    </li>
  <% end %>
</ul>