<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @user.name %></h1>
    </section>
  </aside>
  <div class="col-md-6">
    <div id="user-info">
      <ul class ="list-group">
        <li class="list-group-item list-group-item-info">Email : <%= @user.email%></li>
        <li class="list-group-item list-group-item-info">Address : <%= @user.address %></li>
        <li class="list-group-item list-group-item-info">Date Of Join : <%= @user.date_of_join %></li>
        <%= link_to "Edit", edit_supervisor_user_path(@user), class: "btn btn-success", remote: true %>
      </ul>
    </div>
  </div>
</div>