<div id="subject-status">
  <% if @subject_progress.status.nil? %>
    <%= link_to 'Start subject',
      new_subject_progress_path(subject_progress_id: @subject_progress.id,
      subject_id: @subject.id, course_id: @course.id), class: "btn btn-primary" %>
  <% elsif @subject_progress.status %>
    <%= link_to 'Finish subject', subject_progress_path(@subject_progress,
        subject_id: @subject.id, course_id: @course.id), 
        method: :patch, data: {confirm: "Are you sure?"},
        class: "btn btn-warning" %>
  <% else %>
    <b>Subject finished</b>
  <% end %>
</div>

<div class="col-md-8">
  <div id="content">
    <h1><%= @subject.name %></h1>
    <p><%= @subject.description %></p>
  </div>
</div>

<div class="form-horizontal">
  <div class="col-md-4">
    <h1>List tasks</h1>
    <p><%= link_to "Show subject content", course_subject_path(@course, @subject), remote:true %></p>
    <% unless @subject_progress.status.nil? %>
      <% @tasks.each do |task| %>
        <p>
          <%= link_to task.name, task_path(task), remote:true %>
          <% if task.get_task_progress(task, current_user, @course).status %>          
            <%= link_to 'Done', task_progress_path(task, course_id: @course.id),
              method: :patch, data:{confirm: 'Are you sure?'}, 
              class: "btn btn-xs btn-primary" %>
          <% else %>
            This task has done         
          <% end %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>