<div id="subject-status">
  <% if @subject_progresses.count > 0 %>
    <%= link_to 'Finish subject',
          subject_progress_path(@subject.subject_progresses.first, course_id: @course.id), 
          method: :delete, data: {confirm: "Are you sure?"},
          class: "btn btn-warning" %>
  <% end %>
</div>

<div class="col-md-8">
  <div id="content">
    <h1><%= @subject.name %></h1>
    <p><%= @subject.description %></p>
    <%= link_to 'Edit subject', edit_supervisor_subject_path(@subject),
      remote: true, class: "btn btn-primary" %>
  </div>
</div>

<div class="form-horizontal">
  <div class="col-md-4">
    <h1>List tasks</h1>
    <p><%= link_to "Show subject content", subject_path(@subject), remote:true %></p>
    <% @tasks.each do |task| %>
      <p>
        <%= link_to task.name, supervisor_task_path(task), remote:true %>
      </p>
    <% end %>
    <%= link_to 'Add a task', new_supervisor_task_path(subject_id: @subject.id), 
      remote: true, class: "btn btn-primary" %>
  </div>
</div>