<h1>All courses</h1>
<div class="col-sm-3 col-md-12">
  <ul class="list-group">
    <% @courses.each do |course| %>
      <li class="list-group-item list-group-item-info">
        <b><%= link_to course.name %></b> </br>
        Created <%= time_ago_in_words(course.created_at) %> ago.
        <%= link_to 'Details', course_path(course) %> |
        <%= link_to 'Edit', edit_course_path(course) %> |
        <%= link_to 'Delete', course_path(course),
          method: :delete,
          data: {confirm: 'Are you sure?'} %>
      </li>
    <% end %>
  </ul>
</div>
