<h1>The Training Courses</h1>
<div class="col-sm-3 col-md-12">
  <%= will_paginate %>
  <ul class="list-group">
    <% @courses.each do |course| %>
      <li class="list-group-item list-group-item-info">
        <b><%= link_to course.name %></b> </br>
        Created <%= time_ago_in_words(course.created_at) %> ago.
        <% if !current_user.nil? %>
          <%= link_to "Details", course_path(course), class: "btn btn-xs btn-info" %>
        <% end %>
      </li>      
    <% end %>
  </ul>
  <%= will_paginate %>
</div>
